.icon {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 65%;
  right: 10%;
  bottom: 10%;
  margin: 20px;
  display: flexbox;
  border: 1px solid seagreen;
  border-radius: 15%;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes floating {
  50% {transform: translateY(40%);}
}

.icon:hover{
  cursor: pointer;
}